<div class="container text-center mt-5">
  <h1>本当に退会しますか？</h1>
  <p>
    退会すると、ボツ絵の埋葬<br>
    これまでの埋葬ボツ絵が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <a href="<%= public_end_user_path(@end_user) %>" class="btn btn-primary ms-3">退会しない</a>
  <%= link_to "退会する", public_withdraw_path, method: :patch, class: "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" } %>
</div>
