<% if end_user_signed_in? %>
  <% if current_end_user.whied_by?(post.id) %>
    <td>
      <%= link_to public_destroy_why_path(post), method: :DELETE, remote: true do %>
        <i class="fa fa-heart unlike-btn"></i>
      <% end %>
        <%= post.whies.count %> なんで!?
    </td>
<% else %>
    <td>
      <%= link_to public_create_why_path(post), method: :POST, remote: true do %>
        <i class="fa fa-heart like-btn"></i>
      <% end %>
        <%= post.whies.count %> なんで!?
    </td>
  <% end %>
<% end %>
