<div class="container mt-5">
    <h1>このサイトについて</h1>
    <h4 class="mt-5">　"あなたのパソコンの中には、ボツになったまま行き場をなくした絵はありませんか？"<br>
    イラスト投稿サイトにも投稿する程ではない、そんなかわいそうな絵たちを安らかに眠らせてあげましょう。<br>
    埋葬した絵たちは、一定期間が過ぎると古い絵からどんどん消えていってしまいます。<br>
    illustomb(イラストゥーム)で、ボツ絵たちにお別れを告げましょう。</h4>
</div>

<div class="mt-5" style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <ul>
            <li>誰でも気軽に絵を埋葬（投稿）できるように投稿者の名前等は表示されないようになっていますが、公序良俗に反する行為はお控えください。</li>
            <li>お墓のように、埋葬した絵は30日後に自動的に消えていってしまいます。注意してください。</li>
            <li>いいボツ絵を見つけた時はR.I.P（安らかに眠れ)ボタンを押して供養してあげましょう。</li>
            <li>コメントやフォロー機能はあえて実装していません。誰も傷つかないゆる〜い場所なので、気軽に埋葬してあげてください。</li>
        </ul>
    </div>
</div>
