<div class="container mt-5">
    <h1>このサイトについて</h1>
    <h4 class="mt-5">　あなたのパソコンの中には、ボツになったまま行き場をなくした絵はありませんか？<br>
    イラスト投稿サイトにも投稿する程ではない、そんなかわいそうな絵たちを安らかに眠らせてあげましょう。<br>
    埋葬した絵たちは、一定期間が過ぎると古い絵からどんどん消えていってしまいます。<br>
    illustomb(イラストゥーム)で、ボツ絵たちにお別れを告げましょう。</h4>
</div>
