<div class="swiper">
  <div class="swiper-wrapper">
    <% @posts.sort_by(&:created_at).reverse.take(3).each do |post| %>
      <div class="swiper-slide">
        <%= image_tag post.get_image, size: '400x400' %>
      </div>
    <% end %>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
