<div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/images/nature-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/nature-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/nature-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/nature-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/nature-5.jpg" alt="">
        </div>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>