.swiper {
  margin: 0 auto;
}




:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

.navbar-brand {
  font-family: 'Creepster', cursive;
  /* You can adjust other font properties like font-size and color here */
}
